.vs
_build
_compiler
*.d
*.o
*.so
*.swp
*.obj
imgui.ini
manual/t*.aux
manual/t*.log
manual/t*.out
manual/t*.pdf
manual/t*.synctex.gz
manual/t*.toc
manual/t*.bbl
manual/t*.blg
manual/t*.fdb_latexmk
manual/t*.fls
profiler/build-appimage
.deps/
.dirstamp
/_*/**
/**/__pycache__/**
extra/tracy-build
.cache
.uv-cache/
.venv/
compile_commands.json
examples/ToyPathTracer/Windows/TestCpu
examples/ToyPathTracer/Windows/x64
*.user
