[Desktop Entry]
Version=1.5
Type=Application
Name=Tracy Profiler
GenericName=Code profiler
GenericName[ar]=محلل أداء الشيفرة البرمجية
GenericName[de]=Code-Profiler
GenericName[es]=Perfilador de código
GenericName[fr]=Profileur de code
GenericName[hi]=कोड प्रोफ़ाइलर
GenericName[it]=Profiler del codice
GenericName[ja]=コードプロファイラー
GenericName[pl]=Profiler kodu
GenericName[pt]=Analisador de desempenho de código
GenericName[pt_BR]=Analisador de desempenho de código
GenericName[ru]=Профилировщик кода
GenericName[uk]=Профілювальник коду
GenericName[zh_CN]=代码性能分析器
GenericName[zh_TW]=程式碼效能分析器
Comment=Examine code to see where it is slow
Comment[ar]=افحص الشيفرة البرمجية لمعرفة مواضع البطء
Comment[de]=Code untersuchen, um langsame Stellen zu finden
Comment[es]=Examine el código para ver dónde es lento
Comment[fr]=Examiner le code pour voir où il est lent
Comment[hi]=कोड की जाँच करें कि वह कहाँ धीमा है
Comment[it]=Esamina il codice per vedere dove è lento
Comment[ja]=コードを調べて遅い箇所を見つける
Comment[pl]=Przeanalizuj kod, aby znaleźć wolne miejsca
Comment[pt]=Examine o código para ver onde é lento
Comment[pt_BR]=Examine o código para ver onde ele é lento
Comment[ru]=Изучите код, чтобы найти медленные места
Comment[uk]=Досліджуйте код, щоб знайти повільні місця
Comment[zh_CN]=检查代码，找出运行缓慢的部分
Comment[zh_TW]=檢查程式碼，找出執行緩慢的部分
Keywords=profiler;performance;tracing;frame;instrumentation;
Keywords[ar]=محلل;أداء;تتبع;إطار;قياس;
Keywords[de]=Profiler;Leistung;Tracing;Frame;Instrumentierung;
Keywords[es]=perfilador;rendimiento;trazado;fotograma;instrumentación;
Keywords[fr]=profileur;performance;traçage;trame;instrumentation;
Keywords[hi]=प्रोफ़ाइलर;प्रदर्शन;ट्रेसिंग;फ़्रेम;इंस्ट्रुमेंटेशन;
Keywords[it]=profiler;prestazioni;tracciamento;frame;strumentazione;
Keywords[ja]=プロファイラー;パフォーマンス;トレース;フレーム;計測;
Keywords[pl]=profiler;wydajność;śledzenie;klatka;instrumentacja;
Keywords[pt]=perfilador;desempenho;rastreio;fotograma;instrumentação;
Keywords[pt_BR]=perfilador;desempenho;rastreamento;quadro;instrumentação;
Keywords[ru]=профилировщик;производительность;трассировка;кадр;инструментирование;
Keywords[uk]=профілювальник;продуктивність;трасування;кадр;інструментування;
Keywords[zh_CN]=分析器;性能;跟踪;帧;插桩;
Keywords[zh_TW]=分析器;效能;追蹤;影格;插樁;
Exec=tracy-profiler %f
Icon=tracy
Terminal=false
Categories=Development;Profiling;
MimeType=application/tracy;
