name: Manual

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
  workflow_call:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Compile LaTeX
      uses: xu-cheng/latex-action@v3
      with:
        working_directory: manual
        root_file: tracy.tex
    - uses: actions/upload-artifact@v4
      with:
        name: manual
        path: manual/tracy.pdf
